#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  padding-top: 60px;
}
main.content {
  flex: 1;
  padding-top: 60px; /* Ajusta este valor a la altura de tu Navbar */
  /* Otros estilos */
}




